header {
    width: 96%;
    margin: 0 auto;
    padding: 2.5rem;
    text-align: center;
}

main {
    width: 96%;
    margin: auto;
    padding: 2.5rem;
    text-align: center;
}

body {
    background-color:lightskyblue 
}

head {
    align-items: center;
}